# 这是一个为 Keil MDK for STM32 项目优化的 .gitignore 文件

# 1. 忽略存放编译产物的文件夹
# 通常，Keil会把所有中间文件和最终文件输出到这些文件夹里
Objects/
Listings/
RTE/

# 2. 忽略最终的输出文件
# 这些文件是最终烧录到芯片或用于调试的，每次编译都会改变
*.hex
*.bin
*.axf
*.elf
*.map
*.sct

# 3. 忽略具体的中间文件和依赖文件
# 这些是编译过程中产生的临时文件
*.o
*.crf
*.d
*.dep
*.sfr
*.i
*.lnp

# 4. 忽略用户个人的IDE设置文件
# 这类文件记录了你打开了哪些文件、窗口布局等，不应该与团队成员共享
*.uvguix.*
*.uvgui.*

# 5. 忽略备份文件
# Keil 可能会生成项目文件的备份
*.uvopt.bak
*.uvproj.bak
*.uvoptx.bak
*.uvprojx.bak

# 6. 忽略其他常见的临时文件
*~
*.bak
*.tmp

# 7. 忽略调试器日志文件
JLinkLog.txt
STLinkLog.txt